<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id="registration">
        <h1>Registration</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/register" method="POST" class="form form-dark">
            {% csrf_token %}
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" class="form-control">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" class="form-control">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control">
            <label for="password">Password</label>
            <input type="text" name="password" id="password" class="form-control">
            <label for="confirm-pw">Confirm Password</label>
            <input type="text" name="confirm-pw" id="confirm-pw" class="form-control">
            <button class="btn btn-primary">Register</button>
        </form>
    </div>
    <div id="login">
        <h1>Login</h1>
        <form action="/login" method="POST">
            {% csrf_token %}
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control">
            <label for="password">Password</label>
            <input type="text" name="password" id="password" class="form-control">
            <button class="btn btn-primary">Login</button>
        </form>
    </div>


</body>

</html>